@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #F2F2F2;
  text-align: center;
}

html {
  overflow: hidden;
}
body {
  background: url(./img/bg.jpg) center/cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

h1 {
  font-size: clamp(1rem, 5.5vw, 2.3rem);
  font-weight: 800;
  letter-spacing: 1px;
  margin: 15px;

}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(4, 16, 38, 0.3);
  -webkit-backdrop-filter: blur(6px) brightness(0.3);
          backdrop-filter: blur(6px) brightness(0.3);
  box-shadow: 7px 7px 5px 1px rgba(0, 0, 0, 0.4);
  width: 94vw;
  height: 97vh;
  max-width: 650px;
  max-height: 450px;
  border-radius: 5px;
}

.password {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 80%;
  padding-bottom: 2%;
}

.range-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  border: 2px solid #ffffff;
  border-radius: 5px;
  width: 70%;
  padding: 10px 0;

}

input[type=text] {
  all: unset;
}

#display-password-length {
  margin: 5px 0;
}

#password-length {
  width: 80%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 1px;
  opacity: 1;
  transition: 0.2s;
  background: #ffffff;
  margin: 20px 0 15px 0;
}

/* SLIDER THUMB */
#password-length::-webkit-slider-thumb {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 15px;
  height: 30px;
  background: #ffffff;
  border-radius: 10px;
  transform: scale(0.9);
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#password-length::-webkit-slider-thumb:hover {
  transform: scale(1);
  opacity: 0.95;
}

/* SLIDER THUMB MOZILLA*/
#password-length::-moz-range-thumb {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 15px;
  height: 30px;
  background: #ffffff;
  border-radius: 10px;
  transform: scale(0.9);
  cursor: pointer;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid transparent;
}
#password-length::-moz-range-thumb:hover {
  transform: scale(1);
  opacity: 0.95;
}

/* SLIDER THUMB IE*/
#password-length::-ms-thumb {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 15px;
  height: 30px;
  background: #ffffff;
  border-radius: 10px;
  transform: scale(0.9);
  cursor: pointer;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid transparent;
}
#password-length::-ms-thumb:hover {
  transform: scale(1);
  opacity: 0.95;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

input[type=checkbox] {
  display: none;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 55px;
  width: 55px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  transform: scale(1);
  cursor: pointer;
  margin: 5px;
  transition: 100ms ease-in-out;
}



input[type=checkbox]:checked + label {
  transform: scale(1.1);
  box-shadow: inset 0 0 6px 1px rgba(255, 255, 255, 0.4), 0 0 8px 1px rgba(255, 255, 255, 0.7);
  opacity: 1;
}

label:hover {
  opacity: 0.75 !important;
}

i {
  font-size: 1.3rem;
  cursor: pointer;
  position: relative;
  overflow: visible;
  margin-top: 4px;
}

i:hover {
  opacity: 1;
}

i:active {
  transform: scale(0.9);
}


.copied {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 35vw;
  max-width: 175px;
  left: 25px;
  top: 50%;
  transform: translateY(10%);
  -webkit-clip-path: polygon(0 50%, 5% 40%, 5% 5%, 6% 0, 99% 0, 100% 5%, 100% 95%, 99% 100%, 6% 100%, 5% 95%, 5% 60%);
          clip-path: polygon(0 50%, 5% 40%, 5% 5%, 6% 0, 99% 0, 100% 5%, 100% 95%, 99% 100%, 6% 100%, 5% 95%, 5% 60%);
  background: #ffffff;
  opacity: 0;
  font-size: 0.9rem;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding: 3px 4px 3px 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: opacity 200ms linear, transform 200ms cubic-bezier(.37,-0.44,.69,1.76);
}

.generateButton {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 5px;
  height: 45px;
  width: 120px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  opacity: 1;
  transition: 100ms ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.generateButton:hover {
  opacity: 0.8;
}
.generateButton:active {
  transform: scale(0.95);
}

.password-output-container {
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#password-output {
font-size: clamp(0.45rem, 3.5vw, 1.3rem);
margin-bottom: 5px;
width: 100%;
}

 /* # Glitch Effect on h1 # */

 h1{
  -webkit-animation: glitch 10s ease-in-out infinite;
          animation: glitch 10s ease-in-out infinite;
  z-index: 10;
}

@-webkit-keyframes glitch{
  1%, 1.4%, 20%, 20.4%, 30%, 30.4% {
    transform: translate(0,0) skew(0); 
  }
  1.2%{
    transform: translate(-2px,0) skew(-8deg);
  }
  20.2%{
    transform: translate(0px,0) skew(15deg); 
  }
  30.2%{
    transform: translate(2px,0) skew(10deg); 
  }
}

@keyframes glitch{
  1%, 1.4%, 20%, 20.4%, 30%, 30.4% {
    transform: translate(0,0) skew(0); 
  }
  1.2%{
    transform: translate(-2px,0) skew(-8deg);
  }
  20.2%{
    transform: translate(0px,0) skew(15deg); 
  }
  30.2%{
    transform: translate(2px,0) skew(10deg); 
  }
} 

h1:before,
h1:after{
  content: attr(title);
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
}
h1:before{
  -webkit-animation: glitchTop 10s ease-in-out infinite;
          animation: glitchTop 10s ease-in-out infinite;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
          clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  /* color: rgba(204, 15, 56, 0.7); */
}
@-webkit-keyframes glitchTop{
  3%, 3.4%, 10%, 10.4%, 33%, 33.4%, 80%, 80.4% {
    transform: translate(0,0) skew(0); 
  }
  3.2%{
    transform: translate(13px,-2px) skew(13deg); 
  }
  10.2%{
    transform: translate(4px,-6px) skew(20deg); 
  }
  33.2%{
    transform: translate(-20px,-1px) skew(5deg); 
  }
  80.2%{
    transform: translate(0, 5px) skew(-30deg); 
  }
}
@keyframes glitchTop{
  3%, 3.4%, 10%, 10.4%, 33%, 33.4%, 80%, 80.4% {
    transform: translate(0,0) skew(0); 
  }
  3.2%{
    transform: translate(13px,-2px) skew(13deg); 
  }
  10.2%{
    transform: translate(4px,-6px) skew(20deg); 
  }
  33.2%{
    transform: translate(-20px,-1px) skew(5deg); 
  }
  80.2%{
    transform: translate(0, 5px) skew(-30deg); 
  }
}
h1:after{
  -webkit-animation: glitchBotom 10s ease-in-out infinite;
          animation: glitchBotom 10s ease-in-out infinite;
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
          clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  /* color: rgba(15, 251, 247, 0.7); */
}
@-webkit-keyframes glitchBotom{
  6%, 6.4%, 15%, 15.4%, 30%, 30.4%, 40%, 40.4% {
    transform: translate(0,0) skew(0); 
  }
  6.2%{
    transform: translate(8px,-2px) skew(13deg); 
  }
  15.2%{
    transform: translate(-2px,1px) skew(-5deg); 
  }
  30.2%{
    transform: translate(-22px,0) skew(26deg); 
  }
  40.2%{
    transform: translate(3px, 8px) skew(10deg); 
  }
}
@keyframes glitchBotom{
  6%, 6.4%, 15%, 15.4%, 30%, 30.4%, 40%, 40.4% {
    transform: translate(0,0) skew(0); 
  }
  6.2%{
    transform: translate(8px,-2px) skew(13deg); 
  }
  15.2%{
    transform: translate(-2px,1px) skew(-5deg); 
  }
  30.2%{
    transform: translate(-22px,0) skew(26deg); 
  }
  40.2%{
    transform: translate(3px, 8px) skew(10deg); 
  }
}

  /* # Responsive # */

@media screen and (max-width: 520px) {
  .app {
    max-width: none;
    max-height: none;
    padding-top: 3%;
  }
  .range-container, .checkbox-container {
    width: 95%; 
  }
  .range-container {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 352px) {
  .range-container {
    font-size: 1rem;
  }
}
